body{
    padding: 0;
    margin: 0;
    height: 0% !important;
    font-family: "Inter" sans-serif;
    background-color: #232020 !important;
    color: white !important;
}

.container-home {
    background-color: #151515;
    min-height: calc(100vh - 50px);
    color: white;
  }

  
  .content-container {
    margin-left: 50px;
   
  }

  .toggle {
    width: 40px;
    height: 20px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
  }
  
  .toggle-icon {
    color: goldenrod;
  }
  
  .toggle-ball {
    width: 18px;
    height: 18px;
    background-color: black;
    position: absolute;
    right: 1px;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s ease all;
  }
  @media only screen and (max-width: 940px){
    .menu-container{
        display: none;
    }
}