@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap");

*{
    box-sizing: border-box;
}

.countdownText{
    display: flex;
    color: black;
    justify-content: center;
    gap:10px
}

.resendButton{
    margin-top: -5px;
    margin-bottom: 10px;
    border-radius: 7px;
    background :linear-gradient(45deg,rgb(15, 15, 15),rgb(48, 47, 47));
}
.container{
    min-height: 75vh ;
    display: grid;
    grid-template-columns: 50% 50%;
    border-radius: 10px;
    overflow: hidden;
}
.login-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 90px;
    background-color: white;
}


.login-right{
    display: flex;
    justify-content: center;
    background-color: rgb(5, 5, 5);
    
}
img{
    width: 100%;
}

.input{
    border: 1px solid black;
    height: 55px;
    padding: 0 2rem;
    width:100%;
    outline:none;
    transition: background .5s;
    font-size:18px;
    border-radius:100px;
}
.button{
    border:none;
    background :linear-gradient(45deg,rgb(15, 15, 15),rgb(174, 85, 85));
    color: white;
    padding:1rem;
    border-radius: 100px;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    height: 55px;
    cursor: pointer;
}

.imgfooter1{
    width: 30px;
}
.imgfooter2{
    width: 44px;
}

.login-form{
    width: 450px;
    
}

.form-content{
    display: flex;
    flex-direction: column;
    gap:30px;
}

.login-form-footer{
    display: flex;
    gap:30px;
    margin-top: 40px;
    
}

.two-logins{
    flex:6;
    gap:15px;
    border: 1px solid black;
    border-radius: 100px;
    padding: .6rem;
    justify-content: center;
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
   
}

.two-log{
    justify-content: center;
    display: flex;
    color: black;
}

.two-logins:hover{
    background-color: rgb(201, 201, 201);
}

.form-item label{
    display: inline-block;
    background-color: white;
    margin-bottom: 10px;
    position: absolute;
    padding:0 10px;
    transform:translate(30px,-10px);
    font-size: 14px;
}


@media (max-width:1350px){
    .login-left{
        padding: 50px !important;

    }
    .login-form{
        width: 100%;
    }
    .login-form-footer{
        flex-direction: column;
        gap:15px;
    }
}
@media (max-width:768px){
    body{
        padding: 20px;
    }
    .container{
        grid-template-columns: auto;

    }
    .login-right{
        display: none;
    }
}

